.page-not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.error-image {
    width: 300px;
    animation: bounce 2s ease-in-out infinite;
  }

  @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
      }
    50% {
      transform: translateY(-20px);
    }
  }